@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

.app,
.app_modal{
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
  font-weight: 600;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}

.full_page_loader{
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
