.clear{
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.button{
  cursor: pointer;
}

.outline{
  padding: 10px 15px;
  border: 1px solid var(--primaty-color);
  color: var(--primaty-color);
}
