.form {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 20px;
}

.filed {
  display: flex;
  justify-content: space-between;
}

.disabled {
  background-color: var(--bg-color);
  border: none;
  color: black;
}

.profile_action {
  display: flex;
  justify-content: center;
}
