:root {
  --inverted--bg-color: #2a16e1;
  --bg-color: #b7b4d5;
  --primary-color: #5b2822;
  --secondary-color: #70856d;
  --inverted-primary-color: #30af24;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
}
